block content
    div.modal#completed-dialog
        div.modal-content
            span.close#completed-dialog-close &times;
            p Congragulations - you have completed the quest
        div(style="position:absolute; top:120px; right:10px; width:80px; height:80px;")
            img#icon(src='assets/images/trophy.png' style="width:100%; height:100%;")